*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(185, 181, 181, 0.863);
}
h6{
    text-align: center;
}
.card-title1{
    color: blue;
}
.footer{
    text-align: center;
}
